.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    height: 10%;
    width: 100%;
    background-color: transparent;
    color: #d72424;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
  }
  
  ul {
    list-style-type: none;
    padding: 3px;
    margin: 3px;
  }
  
  li {
    padding: 15px; /* Increase padding for better spacing */
    border-right: 1px solid #555;
    transition: background-color 0.3s ease; /* Add transition effect on hover */
  }
  
  li:hover {
    background-color: #555; /* Change background color on hover */
  }
  