.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: transparent;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
  }
  
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding: 3px;
    margin: 3px;
  }
  
  li {
    padding: 15px; /* Increase padding for better spacing */
    transition: background-color 0.3s ease; /* Add transition effect on hover */
  }
  
  li:hover {
    background-color: rgb(59, 13, 102); /* Change background color on hover */
  }
  