@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0%;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /* You can add other global styles here */
}

.bg-gradient-primary {
    /* Add styles for your main container here */
    color: white;
    min-height: 100vh;
    /* Make sure the container covers the entire viewport height */
    display: flex;
    flex-direction: column;
}

a.text-md {
    color:#f2f2f2;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 2px;
    padding-bottom: 10px;
}

#typing-text {
    text-shadow: 1px 1px 1px #fff,
                 2px 2px 2px #070707,
                 4px 4px 4px #616060;
}

nav {
    display: flex;
}